.speed label {
  display: inline !important;
}
div.main-container { 
  max-width: none;
  width: 100%;
  height: 100%;
  padding: 0px
}

#home h4 { 
  margin: auto;
  text-align: center;
  padding-bottom: 5px;
}

div.scianimator img {
  height: 100% !important;
  width: 100% !important;
}

div.scianimator form { 
  margin: 0px !important;
}

#header { 
  padding-top: 5px;
}

#header h1 {
  text-align: center;
}

